#plasmac material file
# example only, may be deleted
# items marked * are mandatory
# other items are optional and will default to 0
#[MATERIAL_NUMBER_1]  
#NAME               = 
#KERF_WIDTH         = 
#PIERCE_HEIGHT      = *
#PIERCE_DELAY       = *
#PUDDLE_JUMP_HEIGHT = 
#PUDDLE_JUMP_DELAY  = 
#CUT_HEIGHT         = *
#CUT_SPEED          = *
#CUT_AMPS           = 
#CUT_VOLTS          = 
#PAUSE_AT_END       = 
#GAS_PRESSURE       = 
#CUT_MODE           = 

[MATERIAL_NUMBER_1]
NAME               = 65 amp 16 gauge steel
KERF_WIDTH         = 1.52
PIERCE_HEIGHT      = 3.81
PIERCE_DELAY       = 0
PUDDLE_JUMP_HEIGHT = 0
PUDDLE_JUMP_DELAY  = 0
CUT_HEIGHT         = 1.52
CUT_SPEED          = 6350
CUT_AMPS           = 65
CUT_VOLTS          = 123
PAUSE_AT_END       = 0.5
GAS_PRESSURE       = 0
CUT_MODE           = 1

[MATERIAL_NUMBER_2]
NAME               = 65 amp 10 gauge steel
KERF_WIDTH         = 1.65
PIERCE_HEIGHT      = 3.81
PIERCE_DELAY       = 0
PUDDLE_JUMP_HEIGHT = 0
PUDDLE_JUMP_DELAY  = 0
CUT_HEIGHT         = 1.52
CUT_SPEED          = 4826
CUT_AMPS           = 65
CUT_VOLTS          = 125
PAUSE_AT_END       = 0.5
GAS_PRESSURE       = 0
CUT_MODE           = 1

[MATERIAL_NUMBER_3]
NAME               = 65 amp 3/16 steel
KERF_WIDTH         = 1.73
PIERCE_HEIGHT      = 3.81
PIERCE_DELAY       = 0
PUDDLE_JUMP_HEIGHT = 0
PUDDLE_JUMP_DELAY  = 0
CUT_HEIGHT         = 1.52
CUT_SPEED          = 3378
CUT_AMPS           = 65
CUT_VOLTS          = 126
PAUSE_AT_END       = 0.5
GAS_PRESSURE       = 0
CUT_MODE           = 1

[MATERIAL_NUMBER_4]
NAME               = 65 amp 1/4 steel
KERF_WIDTH         = 1.78
PIERCE_HEIGHT      = 3.81
PIERCE_DELAY       = 0.3
PUDDLE_JUMP_HEIGHT = 0
PUDDLE_JUMP_DELAY  = 0
CUT_HEIGHT         = 1.52
CUT_SPEED          = 2286
CUT_AMPS           = 65
CUT_VOLTS          = 127
PAUSE_AT_END       = 0.5
GAS_PRESSURE       = 0
CUT_MODE           = 1

[MATERIAL_NUMBER_5]
NAME               = 65 amp 3/8 steel
KERF_WIDTH         = 1.93
PIERCE_HEIGHT      = 3.81
PIERCE_DELAY       = 0.7
PUDDLE_JUMP_HEIGHT = 0
PUDDLE_JUMP_DELAY  = 0
CUT_HEIGHT         = 1.52
CUT_SPEED          = 1016
CUT_AMPS           = 65
CUT_VOLTS          = 130
PAUSE_AT_END       = 0.5
GAS_PRESSURE       = 0
CUT_MODE           = 1

[MATERIAL_NUMBER_6]
NAME               = 65 amp 1/2 steel
KERF_WIDTH         = 2.24
PIERCE_HEIGHT      = 4.57
PIERCE_DELAY       = 1.3
PUDDLE_JUMP_HEIGHT = 0
PUDDLE_JUMP_DELAY  = 0
CUT_HEIGHT         = 1.52
CUT_SPEED          = 762
CUT_AMPS           = 65
CUT_VOLTS          = 135
PAUSE_AT_END       = 0.5
GAS_PRESSURE       = 0
CUT_MODE           = 1

[MATERIAL_NUMBER_7]
NAME               = 65 amp 5/8 steel
KERF_WIDTH         = 2.29
PIERCE_HEIGHT      = 6.10
PIERCE_DELAY       = 2
PUDDLE_JUMP_HEIGHT = 0
PUDDLE_JUMP_DELAY  = 0
CUT_HEIGHT         = 1.52
CUT_SPEED          = 508
CUT_AMPS           = 65
CUT_VOLTS          = 138
PAUSE_AT_END       = 0.5
GAS_PRESSURE       = 0
CUT_MODE           = 1

[MATERIAL_NUMBER_8]
NAME               = 65 amp 1/16 aluminum
KERF_WIDTH         = 1.85
PIERCE_HEIGHT      = 3.81
PIERCE_DELAY       = 0
PUDDLE_JUMP_HEIGHT = 0
PUDDLE_JUMP_DELAY  = 0
CUT_HEIGHT         = 1.52
CUT_SPEED          = 8890
CUT_AMPS           = 65
CUT_VOLTS          = 121
PAUSE_AT_END       = 0.5
GAS_PRESSURE       = 0
CUT_MODE           = 1

[MATERIAL_NUMBER_9]
NAME               = 65 amp 1/8 aluminum
KERF_WIDTH         = 1.88
PIERCE_HEIGHT      = 3.81
PIERCE_DELAY       = 0
PUDDLE_JUMP_HEIGHT = 0
PUDDLE_JUMP_DELAY  = 0
CUT_HEIGHT         = 1.52
CUT_SPEED          = 6858
CUT_AMPS           = 65
CUT_VOLTS          = 124
PAUSE_AT_END       = 0.5
GAS_PRESSURE       = 0
CUT_MODE           = 1

[MATERIAL_NUMBER_10]
NAME               = 65 amp 1/4 aluminum
KERF_WIDTH         = 1.91
PIERCE_HEIGHT      = 3.81
PIERCE_DELAY       = 0.5
PUDDLE_JUMP_HEIGHT = 0
PUDDLE_JUMP_DELAY  = 0
CUT_HEIGHT         = 1.52
CUT_SPEED          = 2286
CUT_AMPS           = 65
CUT_VOLTS          = 131
PAUSE_AT_END       = 0.5
GAS_PRESSURE       = 0
CUT_MODE           = 1

[MATERIAL_NUMBER_11]
NAME               = 65 amp 3/8 aluminum
KERF_WIDTH         = 2.11
PIERCE_HEIGHT      = 3.81
PIERCE_DELAY       = 0.7
PUDDLE_JUMP_HEIGHT = 0
PUDDLE_JUMP_DELAY  = 0
CUT_HEIGHT         = 1.52
CUT_SPEED          = 1270
CUT_AMPS           = 65
CUT_VOLTS          = 135
PAUSE_AT_END       = 0.5
GAS_PRESSURE       = 0
CUT_MODE           = 1

[MATERIAL_NUMBER_12]
NAME               = 65 amp 1/2 aluminum
KERF_WIDTH         = 2.31
PIERCE_HEIGHT      = 4.57
PIERCE_DELAY       = 1.2
PUDDLE_JUMP_HEIGHT = 0
PUDDLE_JUMP_DELAY  = 0
CUT_HEIGHT         = 1.52
CUT_SPEED          = 838
CUT_AMPS           = 65
CUT_VOLTS          = 139
PAUSE_AT_END       = 0.5
GAS_PRESSURE       = 0
CUT_MODE           = 1

[MATERIAL_NUMBER_13]
NAME               = 65 amp 16g stainless steel
KERF_WIDTH         = 1.52
PIERCE_HEIGHT      = 3.81
PIERCE_DELAY       = 0
PUDDLE_JUMP_HEIGHT = 0
PUDDLE_JUMP_DELAY  = 0
CUT_HEIGHT         = 1.52
CUT_SPEED          = 8255
CUT_AMPS           = 65
CUT_VOLTS          = 124
PAUSE_AT_END       = 0.5
GAS_PRESSURE       = 0
CUT_MODE           = 1

[MATERIAL_NUMBER_14]
NAME               = 65 amp 10g stainless steel
KERF_WIDTH         = 1.65
PIERCE_HEIGHT      = 3.81
PIERCE_DELAY       = 0
PUDDLE_JUMP_HEIGHT = 0
PUDDLE_JUMP_DELAY  = 0
CUT_HEIGHT         = 1.52
CUT_SPEED          = 5715
CUT_AMPS           = 65
CUT_VOLTS          = 125
PAUSE_AT_END       = 0.5
GAS_PRESSURE       = 0
CUT_MODE           = 1

[MATERIAL_NUMBER_15]
NAME               = 65 amp 3/16" stainless steel
KERF_WIDTH         = 1.73
PIERCE_HEIGHT      = 3.81
PIERCE_DELAY       = 0.5
PUDDLE_JUMP_HEIGHT = 0
PUDDLE_JUMP_DELAY  = 0
CUT_HEIGHT         = 1.52
CUT_SPEED          = 3937
CUT_AMPS           = 65
CUT_VOLTS          = 126
PAUSE_AT_END       = 0.5
GAS_PRESSURE       = 0
CUT_MODE           = 1

[MATERIAL_NUMBER_16]
NAME               = 65 amp 1/4" stainless steel
KERF_WIDTH         = 1.78
PIERCE_HEIGHT      = 3.81
PIERCE_DELAY       = 0.5
PUDDLE_JUMP_HEIGHT = 0
PUDDLE_JUMP_DELAY  = 0
CUT_HEIGHT         = 1.52
CUT_SPEED          = 2032
CUT_AMPS           = 65
CUT_VOLTS          = 126
PAUSE_AT_END       = 0.5
GAS_PRESSURE       = 0
CUT_MODE           = 1

[MATERIAL_NUMBER_17]
NAME               = 65 amp 3/8" stainless steel
KERF_WIDTH         = 1.93
PIERCE_HEIGHT      = 3.81
PIERCE_DELAY       = 1
PUDDLE_JUMP_HEIGHT = 0
PUDDLE_JUMP_DELAY  = 0
CUT_HEIGHT         = 1.52
CUT_SPEED          = 1016
CUT_AMPS           = 65
CUT_VOLTS          = 131
PAUSE_AT_END       = 0.5
GAS_PRESSURE       = 0
CUT_MODE           = 1

[MATERIAL_NUMBER_18]
NAME               = 65 amp 1/2" stainless steel
KERF_WIDTH         = 2.24
PIERCE_HEIGHT      = 4.57
PIERCE_DELAY       = 1.5
PUDDLE_JUMP_HEIGHT = 0
PUDDLE_JUMP_DELAY  = 0
CUT_HEIGHT         = 1.52
CUT_SPEED          = 660
CUT_AMPS           = 65
CUT_VOLTS          = 136
PAUSE_AT_END       = 0.5
GAS_PRESSURE       = 0
CUT_MODE           = 1

[MATERIAL_NUMBER_19]
NAME               = 65 amp 5/8" stainless steel
KERF_WIDTH         = 2.29
PIERCE_HEIGHT      = 4.57
PIERCE_DELAY       = 1.75
PUDDLE_JUMP_HEIGHT = 0
PUDDLE_JUMP_DELAY  = 0
CUT_HEIGHT         = 1.52
CUT_SPEED          = 660
CUT_AMPS           = 65
CUT_VOLTS          = 139
PAUSE_AT_END       = 0.5
GAS_PRESSURE       = 0
CUT_MODE           = 1

